@model EventsShowcase.Models.EventModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete this event?</h3>
<h2>Delete Event Detals:</h2>

@using (Html.BeginForm())
{
    <h4>EventsShowcase</h4>

    <div>
        @Html.DisplayNameFor(m => m.Title)
        @Html.DisplayFor(m => m.Title)
    </div>
    <div>
        @Html.DisplayNameFor(m => m.Description)
        @Html.DisplayFor(m => m.Description)
    </div>
    <div>
        @Html.DisplayNameFor(m => m.StartDate)
        @Html.DisplayFor(m => m.StartDate)
    </div>
    <div>
        @Html.DisplayNameFor(m => m.EndDate)
        @Html.DisplayFor(m => m.EndDate)
    </div>
    <div>
        @Html.DisplayNameFor(m => m.Price)
        @Html.DisplayFor(m => m.Price)
    </div>
    <div>
        @Html.DisplayNameFor(m => m.Location)
        @Html.DisplayFor(m => m.Location)
    </div>
    <div>
        @Html.LabelFor(m => m.City)
        @Html.EditorFor(m => m.City)
    </div>
    <div>
        @Html.LabelFor(m => m.Category)
        @Html.EditorFor(m => m.Category)
    </div>
    <div>
        @Html.DisplayNameFor(m => m.Organizer)
        @Html.DisplayFor(m => m.Organizer)
    </div>
    <div>
        @Html.DisplayNameFor(m => m.Contact)
        @Html.DisplayFor(m => m.Contact)
    </div>
    <div>
        @Html.DisplayNameFor(m => m.Image)
        @Html.DisplayFor(m => m.Image)
    </div>
    <div>
        <input type="submit" value="Delete Event" />
    </div>
}

@Html.ActionLink("Back", "Index")
